<body>
<div id="card" class="card">
  <div class="card-header">
    <h3>Đăng Nhập</h3>
    <a href="#" class="closebtn" onclick="document.getElementById('login').style.display='none'"><i class="fas fa-times"></i></a>
  </div>
  <div class="card-body">
    <form id="_loginForm" onsubmit="" action="#">
      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-user"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Tài khoản">
        
      </div>
      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-key"></i></span>
        </div>
        <input type="password" class="form-control" placeholder="Mật khẩu">
      </div>
      <div class="row align-items-center remember">
        <input type="checkbox">Lưu tài khoản đăng nhập
      </div>
      <div class="form-group">
        <input type="submit" value="Đăng Nhập" class="btn float-right login-btn">
      </div>
    </form>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-center links">
      Chưa có tài khoản?<a href="#">Đăng ký</a>
    </div>
    <div class="d-flex justify-content-center">
      <a href="#">Quên mật khẩu?</a>
    </div>
  </div>
</div>
</body>