<body>
<div class="card" style="height:max-content; width: 50%;">
  <div class="card-header">
    <h3>Đăng Ký</h3>
  </div>
  <div class="card-body">
    <form id="_signupForm" action="#" method="POST">
      <div class="input-group form-group w-75">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-signature"></i></span>
        </div>
        <input type="text" class="form-control" id="HoTen" name="HoTen" placeholder="Họ tên">
      </div>
      <div class="input-group form-group w-75">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-user"></i></span>
        </div>
        <input type="text" class="form-control" id="Username" name="Username" placeholder="Tên tài khoản">
      </div>
      <div class="input-group form-group w-75">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-key"></i></span>
        </div>
        <input type="password" class="form-control"  id="Password" name="Password" placeholder="Mật khẩu">
      </div>
      <div class="input-group form-group w-75">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-address-book"></i></span>
        </div>
        <input type="text" class="form-control"  id="Address" name="Address" placeholder="Địa chỉ">
      </div>
      <div class="input-group form-group w-75">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-envelope"></i></span>
        </div>
        <input type="email" class="form-control"  id="Email" name="Email" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="submit" value="Đăng Ký" class="btn float-right login-btn">
      </div>
    </form>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-center links">
      Đã có tài khoản?<a href="#">Đăng nhập</a>
    </div>
  </div>
</div>
</body>