<html>
<body>
    <div class="user-box" style="background: url()">
        <div class="userInf-box">
            <h3 style="font-size:30px">GERTHRFHBDSHSDFGH </br></br></div>

            Địa chỉ:</br>
            Số điện thoại:</br>
            Email:</br>
        </div>
        <div class="userImg-box">
            <img> 
        </div>
    </div>
    <div class="userOverview-box">
        rfadhbneraogwsgfnaguiherotgfnrgobn
    </div>
</body>
</html>