.wallpaper{
    width:100%;
    height: 100vh;
    background-image: url(../Wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main-body{
  display:flex;
  flex-direction: column;
  width:80%;
  height:max-content;
  margin-left:auto;
  margin-right:auto;
  margin-top: 2vh;
}
.navbar-custom {
    background-color: #212121;
    box-shadow:0px 0px 8px 5px rgba(0,0,0,1);
    border-radius: 10px;
  }
  /* change the link color */
  .navbar{
    padding-top:0;
    padding-bottom:0;
  }
  .navbar-custom .navbar-nav .nav-link {
    color: white;
  }
  .navbar .nav-item{
    min-width: 27%;
    text-align:center;
    padding-top:5px;
    padding-bottom:5px;
  }
  /* change the color of active or hovered links */
  .navbar-custom .nav-item:active,
  .navbar-custom .nav-item:hover,
  .navbar-custom .nav-item:hover .nav-link{
    background-color:#121212;
    color: #dddddd;
  }
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
  .dropdown > .dropdown-toggle:active {
    pointer-events: none;
  }
  .dropdown-custom{
    background-color: #4d4d4d;
    width:250px;
    margin-top:0;
    box-shadow:0px 10px 20px 0px rgba(0,0,0,1);
    z-index: 1;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 1px solid #121212;
  }
  .dropdown-custom .dropdown-item{
    background-color: #4d4d4d;
    text-align: center;
    color: white;
    font-size:15px;
    padding-top:5px;
    padding-bottom:5px;
    animation-name:mymove;
    animation-duration:0.2s;
    border: 1px solid #121212;
    border-bottom:0px;
    overflow:hidden;
  }
  .dropdown-custom .dropdown-item:hover{
    background-color: #373737;
    color:#dddddd;
  }
  @keyframes mymove {
    from {
      max-height:0px;
      font-size:0px;
      padding-top:0px;
      padding-bottom:0px;
  }
    to {
      max-height: initial;
      font-size:15px;
      padding-top:5px;
      padding-bottom:5px;
  }
  }
.main-box{
    width:80%;
    height:700px;
    margin-left:auto;
    margin-right:auto;
    border: 2px  solid #4d4d4d;
    border-radius: 20px;
    margin-top:3vh;
}
.login-btn{
    color: black;
    background-color: #FFC312;
    padding-left:15px;
    padding-right:15px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
@keyframes myfmove {
  from {margin-top: 10vh;opacity: 0;}
  to {margin-top: 20vh; opacity:1;}
}     
.card{
  height: 370px;
  margin-top: 20vh; 
  animation: myfmove 1s; 
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0,0,0,0.7) !important;
  box-shadow: 0px 0px 10px 8px #121212;
}
.card .closebtn{
  position: absolute;
  color: white;
  right: 10px;
  top: 10px;
  padding: 10px 15px 10px 15px;
  background-color: transparent;
}
.card .closebtn:hover{
  background-color: rgba(0,0,0,0.5);
}
.card-header h3{
  color: white;
}
.login_btn:hover{
  color: black;
  background-color: white;
}
.input-group-prepend span{
  width: 50px;
  background-color: #FFC312;
  color: black;
  border:0 !important;
  }
  
  input:focus{
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;
  
  }
  
  .remember{
  color: white;
  }
  
  .remember input
  {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
  }
  .links{
    color: white;
    }
    
    .links a{
    margin-left: 4px;
    }
  
  .item-box{
    width: 80%;
    margin-left:auto;
    margin-right: auto;
    display:flex;
    flex-direction: row;
  }
  .item-box .box1{
    width:20%;
    height:10vh;
    border-top-left-radius: 10px;
  }
  .item-box .box2{
    width:80%;
    padding:2vh 10px 2vh 10px;
    height: 10vh;
    font-size:15px;
    border: 2px solid #4d4d4d;
    border-top-right-radius: 10px;
  }
  .item-box .box3{
    width:70%;
    font-size:15px;
    border: 2px solid #4d4d4d;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    height: max-content;
  }
  .user-box{
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    border-radius: 10px;
    border: 2px solid #373737;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
  }

  .user-box .userInf-box{
    width:max-content;
    position:absolute;
    left:0px;
    bottom:0px;
    padding:10px;
    width: max-content;
    height: max-content;
    box-shadow: -10px 10px 10px 0px #373737; 
    background-color:#6f6f6f;
    border-right: 2px solid #373737;
    border-top: 2px solid #373737;
  }

  .user-box .userImg-box{
    width:30%;
    position:absolute;
    right:0px;
    top: 10%;
    bottom:10%;
    margin-right:5%;
    width: max-content;
    height: max-content;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px #373737; 
  }
  .userOverview-box{
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 2vh;
    border-radius: 10px;
    border: 2px solid #373737;
    height: max-content;
    padding: 10px;
  }
  .item-card{
    position: relative;
    width: 18%;
    margin: 10px;
    height: 30vh;
    background-color: #6f6f6f;
    border-radius: 5px;
  }
  .item-card:hover{
    box-shadow: 0px 0px 15px 5px #4d4d4d;
    cursor: pointer;
  }
  .item-card .item-img{
    width: 100%;
    height: 70%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .item-card .item-info{
    width: 100%;
    height: 30%;
    padding: 7px;
    font-size: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .item-card .card-modal{
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0px;
    top: 0px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.3);
    border-radius:5px;
  }
  .item-card .card-modal .item-moreinfo{
    width: 60%;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    box-shadow: -8px 0 5px -6px #373737;
    animation: mysmove 0.75s;
    border-radius: 5px; 
  }
  @keyframes mysmove{
    from {
      width: 6px;
    }
    to {
      width: 60%;
    }
  }
  .item-card:hover .card-modal{
    display: block;
  }
  .item-card .card-modal .item-moreinfo .item-name{
    width: 100%;
    height: 20%;
    font-size: 15px;
    color: black;
    padding: 3px;
    background-color: rgba(255,195,18,0.6);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .item-card .card-modal .item-moreinfo .item-detail{
    width: 100%;
    height: 80%;
    font-size: 12px;
    color: white;
    padding: 3px;
    background-color: rgba(80,80,80,0.6);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
