<!DOCTYPE html>
<html lang="en">
<head>
  <title>Alpha Auction</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../stylesheets/MyCSS.css"/>
  <script src="../../javascript/myscript.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body class="wallpaper">
<div class="main-body">
  {{>navbar }}
  <div id="login" class="modal">{{>Login}} </div>
  {{#each cats}}
  {{CatName}} </br>
  {{/each}}
  {{#each products}}
  {{>a_productCard}}
{{/each}}
</div>
</body>