<html>
<body>
<div class="main-box">
  <h3 style="margin:20px;font-weight:bold;">
    SẢN PHẨM GẦN KẾT THÚC
  </h3>
  {{#each products}}
  {{>u_productCard}}
  {{/each}}
  {{>navpage}}
</div>
<div class="main-box">
  <h3 style="margin:20px;font-weight:bold;">
    SẢN PHẨM NHIỀU LƯỢT RA GIÁ NHẤT
  </h3>
</div>
<div class="main-box">
    <h3 style="margin:20px;font-weight:bold;">
      SẢN PHẨM GIÁ CAO NHẤT
    </h3>
</div>
</body>
</html>