<html>
<body>
    <div class="item-box">
        <div class="box1">
            <img>
        </div>
        <div class="box2">
            Tên sản phẩm:</br>
            Xuất xứ:</br>
            Giá: </br>
            Người bán:</br>

        </div>
        <div class="box3">
            Giới thiệu sản phẩm: </br>
            Hrtyertgrehgfgdjdhfg
        </div>
    </div>
</body>
</html>