<nav class="navbar navbar-expand-sm navbar-custom" style="font-size:15px">
    <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" href="/"><i class="fa fa-fw fa-home"></i> Trang Chủ</a></li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"><i class="fa fa-fw fa-bars"></i> Danh Mục</a>
        <div class="dropdown-menu dropdown-custom">
          {{#each cats}}
          <div class="dropright">
            <a class="dropdown-item dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" href="#">{{CatName}}</a>
            <div class="dropdown-menu dropdown-custom">
              {{#each ../subcats}}
              {{#ifEquals this.IDCat1 ../this.IDCat}}<a class="dropdown-item" href="#" >{{this.CatName}}</a>{{/ifEquals}}
              {{/each}}
            </div>
          </div>
          {{/each}}
        </div>
    </li>
    <li class="nav-item"><a class="nav-link" href="#info"><i class="fa fa-fw fa-book"></i> Hướng Dẫn</a></li>
    <li class="nav-item"><a class="nav-link" href="#" onclick="displayLogin()"><i class="fa fa-fw fa-user"></i> Đăng Nhập</a></li>
    <li class="nav-item"><a class="nav-link" href="/account/signup"><i class="fa fa-fw fa-user-plus"></i> Đăng Ký</a></li>
    <div style="margin-top:5px;position:absolute;right:2%">
      <form id="_searchForm" class="form-inline" onsubmit="" action="#">
        <input id="_search" class="form-control mr-sm-2" style="font-size:15px;" type="text" placeholder="Tìm kiếm...">
        <button class="btn login-btn"style="font-size:15px;" type="submit"><i class="fa fa-fw fa-search"></i> Tìm</button>
      </form>
    </div>
    </ul>
</nav>