<nav arial-label="Page navigation example">
    <ul class="pagination">
        {{#if navs.prev}}
            <li class="page-item">
                <a class="page-link" href="?page={{navs.prev}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {{else}}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {{/if}}
        {{#each pages}}
        {{#if active}}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="javascript:;">
                {{ value }} <span class="sr-only">(current)</span>
            </a>
        </li>
        {{else}}
        <li class="page-item">
            <a class="page-link" href="?page={{ value }}">
                {{value}}
            </a>
        </li>
        {{/if}}
        {{/each}}
        {{#if navs.next}}
        <li class="page-item">
            <a class="page-link" href="?page={{navs.next}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {{else}}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {{/if}}
    </ul>
</nav>