  <div class="item-card">
    <div class="item-img">
      <img>
    </div>
    <div class="item-info">
      
    </div>
    <div class="card-modal">
      <div class="item-moreinfo">
        <div class="item-name">

        </div>
        <div class="item-detail">

        </div>
      </div>
    </div>
  </div>